 .inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url('/src/assets/fondo-inicio.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.inicio .contenido-banner{
    padding: 20px;
    max-width: 30em;
    text-align: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio .contenido-banner h1{
    font-size: 3rem;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 2rem;
    font-weight: 300;
    color: #1CB698;
    
}
.redes{
    display: flex;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}
.whats__fixed{
    position: fixed;
    bottom: 1em;
    right: 3em;
    border-radius: 50%;
    z-index: 999;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    
}
.whats__fixed:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.whats__img{
    max-width: 4em;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
} 

